body  { background-image: url(logo.nchu.png);
                 background-position: bottom right;
                 background-repeat: no-repeat;
                 background-attachment: fixed;
              }
    /***************************
    4108040040 魯姵妤 第二次作業 10/28
    4108040040 Pei Yu Lu The Second Homework 10/28
    ***************************/